# Maven
target/

# Gradle
.gradle/

# Ant Working Directory
.sonar/

# IntelliJ IDEA
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store?
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

upload.bat

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

.metadata/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Custom stuff
sample.tslint.json
.idea
